# Server
PORT=
NODE_ENV=

# Frontend origin for CORS
CLIENT_ORIGIN=

# MongoDB Atlas
MONGO_URI=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
